@charset "UTF-8";

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Play|Titillium+Web);

.mdl-cell {
	background: #f1f1f1;
	height: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 10px 10px 5px #DDD;
	-moz-box-shadow: 10px 10px 5px #DDD;
	-ms-box-shadow: 10px 10px 5px #DDD;
	-o-box-shadow: 10px 10px 5px #DDD; 
	box-shadow: 10px 10px 5px #DDD;
}

.mdl-layout-title {
	font-family: 'Play', sans-serif;
	font-size: 24px;
}
.title-method {
	text-align: center;
}

.mdl-navigation__link {
	font-size: 14px;
}

.mdl-navigation__link:hover {
	border-bottom: 4px solid #FF4081;
}

.mdl-textfield input, label, span {
	margin-left: 20px;
}

.calc-result {
	margin: 0 auto;
	display: block;
}

.calc-btn {
	text-align: center;
	display: block;
	margin: 20px;
}

/* Media query para corrigir o problema do menu */
@media screen and(max-width: 1200px) {
	.hide-menu {
		display: none;
	}
}

@media screen and(min-width: 1201px) {
	.show-menu {
		display: none;
	}
}
