@charset "UTF-8";

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Play|Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Iceland);

.mdl-grid > .mdl-cell{
	background: #f1f1f1 !important;
	height: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 10px 10px 5px #DDD !important;
	-moz-box-shadow: 10px 10px 5px #DDD !important;
	-ms-box-shadow: 10px 10px 5px #DDD !important;
	-o-box-shadow: 10px 10px 5px #DDD !important;
	box-shadow: 10px 10px 5px #DDD !important;
}

.mdl-layout-title {
	font-family: 'Play', sans-serif;
	font-size: 24px;
}
.title-method {
	text-align: center;
}

.mdl-navigation__link {
	font-size: 14px;
}

.mdl-navigation__link:hover {
	border-bottom: 4px solid #FF4081;
}

/* Home */
.home-content {
	width: 100%;
	height: 400px;
	background: url("../img/background-min.png") no-repeat;
	background-position: center;
	margin-top: -25px;
}

.home-content .title {
	font-family: "Play", sans-serif;
	font-size: 100px;
	color: #fff;
	text-align: center;
	padding-top: 50px;
}

.home-content .subtitle {
	font-family: "Roboto", Helvetica, sans-serif;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.description {
	font-family: "Roboto", Helvetica, sans-serif;
	font-size: 20px;
	color: #676565;
	line-height: 30px;
	margin-top: 20px;
}

.page-content .mdl-grid .mdl-card {
	height: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 0px 0px #fff;
	max-width: 795px;
}

.description span {
	font-family: "Play", sans-serif;
	font-size: 25px;
	color: #FF4081;
}

.description .aspas {
	color: rgb(71, 92, 174);
	font-size: 50px;
	font-family: 'Iceland', cursive;
}

.mdl-textfield input, label, span {
	margin-left: 20px;
}

.calc-result {
	margin: 0 auto;
	display: block;
}

.calc-btn {
	text-align: center;
	display: block;
	margin: 20px;
}

@media (max-width: 1200px) {
	.hide {
		display: none;
	}
}

@media (min-width: 1201px) {
	.show {
		display: none;
	}
}
